.contenedor{
    position: relative;
	margin: auto;
    width: 546px;
}
.consola{
    background-color: black;
    min-width: 560px;
    min-height: 300px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
