<div class="banner">
    <h1>Typesty by Edson</h1>
</div>

<div class="menu">
    <ul>
        <li><a href="#" class="arcoiris">Crear        </a>
        <li><a href="#" class="arcoiris">Guardar        </a>
        <li><a href="#" class="arcoiris">Nueva Pestaña  </a></li>
        <li><a href="#" class="arcoiris">Cerrar Pestaña </a></li>
        <li><a href="#" class="arcoiris">Reporte AST    </a></li>
        <li><a href="#" class="arcoiris">Gramáticas        </a></li>
        <li><a href="#" class="arcoiris">Compilar        </a>
    </ul>
</div>
<div>
</div>