<div class="banner">
    <h1>Typesty by Edson</h1>
</div>

<div class="menu">
    <ul>
        <li><button class="arcoiris" mat-button #filePicker="ngxFilePicker" ngxFilePicker [readMode]="modoLectura" 
             (filePick)="onFilePicked($event)" [filter]="filtroArchivo">Abrir        </button>
        <li><button class="arcoiris" (click)="Guardar()">Guardar        </button>
        <li><button class="arcoiris" (click)="nueva()">Nueva Pestaña  </button></li>
        <li><button class="arcoiris" (click)="cerrar()">Cerrar Pestaña </button></li>
        <li><button class="arcoiris">Reporte AST    </button></li>
        <li><button class="arcoiris">Gramáticas        </button></li>
    </ul>
</div>
<div class ="menu2">
    <ul class="ul2">
        <li *ngFor="let ventana of this.dataService3.listaVentanas;">
            <button button class="arcoiris2"(click)="cambiar(ventana.numeroVista)" ><a routerLink="/home/{{ventana.numeroVista}}">ventana: {{ventana.numeroVista}}</a></button></li>
    </ul>
</div>

