*{
    margin: 0;
	padding: 0;
	list-style: none;

}
.banner h1{
    text-align: center;
    text-shadow: black;
    font-family: fantasy;
    background-color: hotpink;
}
div{
    width: 850px;
    position: relative;
	margin: auto;
	margin-top: 10px;
    padding: 5px;
}

ul{
    width: 870px;
	height: 60px;
	background-color: #000;
	position: relative;
	margin: auto;
}

ul li{
    float: left;
    margin: 0;
    font-size: larger;
    margin-right: 7px;
    margin-left: 20px;
    margin-top: 10px;
}

ul li a{
    padding: .3em;
  display: block;
  text-decoration: none;
  color:#FFF;
  font-family: 'Times New Roman', Times, serif;
}

.arcoiris {
   background-color: rgb(6, 97, 97);
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  }

  .arcoiris:hover{
    background-position: 0;
    font-size: 105%;
  }