<div class="d-flex align-items-start justify-content-center">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Lista Errores</button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Tabla de Simbolos</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <table class="table table-dark table-striped table-bordered">
            <thead><tr>
                <th>#</th> <th>Tipo Error</th> <th>Descripcion</th> <th>Fila</th>  <th>Columna</th> 
            </tr></thead>
            <tbody *ngFor="let err of listaErrores">
                <tr>
                    <td>{{index}}</td>
                    <td>{{err.tipoError}}</td>
                    <td>{{err.mensaje}}</td>
                    <td>{{err.fila}}</td>
                    <td>{{err.columna}}</td>
                </tr>
            </tbody>
          </table>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <table class="table table-dark table-striped table-bordered">
            <thead><tr>
                <th>#</th> <th>Identificador</th> <th>Tipo</th> <th>Tipo Dato</th> <th>Entorno</th> <th>Fila</th>  <th>Columna</th> 
            </tr></thead>
            <tbody>
                
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
<button type="button" class="btn btn-dark" (click)="actualizar()">Actualizar</button>
  </div>
<br>